.bolsas-favoritas {
    padding-bottom: 15rem;
}

.bolsas-favoritas .bolsas-favoritas__title {
    margin-top: 3rem;
}

.bolsas-favoritas .bolsas-favoritas__description {
    margin-top: 1rem;
    font-size: var(--text-size);
}

.bolsas-favoritas .bolsas-favoritas__filter {
    margin-top: 3.5rem;
}

.bolsas-favoritas .bolsas-favoritas__scholarship {
    margin-top: 3.5rem;
}
