.header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: var(--blue-secondary);
}

.header-link:hover {
    cursor: pointer;
    opacity: 0.9;
    transition-duration: 0.3s;
}

.header-link .header-link__icon {
    width: 2.5rem;
}

.header-link .header-link__text p {
    font-weight: var(--font-weight-bolder);
    font-size: 1.3rem;
}

.header-link .header-link__text p span {
    display: block;
}

@media screen and (min-width: 1200px) {
    .header-link {
        flex-direction: row;
    }

    .header-link .header-link__text {
        margin-left: 1rem;
    }

    .header-link .header-link__text p {
        font-size: var(--text-size);
    }

    .header-link .header-link__text p span + span {
        margin-top: 0.5rem;
        font-size: var(--small-text-size);
    }
}
