.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background: var(--modal-overlay);
    visibility: hidden;
    opacity: 0;
    overflow-y: scroll;
}

.modal-wrapper.visible {
    visibility: visible;
    opacity: 1;
}

.modal-wrapper .modal {
    width: 100%;
    background: #fff;
    position: relative;
    padding: 2rem;
    margin: 7rem auto;
}

.modal-wrapper .modal .modal__close {
    position: absolute;
    top: -5rem;
    right: 1rem;
    font-size: 3rem;
    color: var(--text-white);
}

.modal-wrapper .modal .modal__close:hover {
    cursor: pointer;
}

@media screen and (min-width: 620px) {
    .modal-wrapper .modal {
        max-width: 75rem;
        padding: 4rem 3.5rem;
    }

    .modal-wrapper .modal .modal__close {
        top: -5rem;
        right: -1rem;
        font-size: 4.5rem;
    }
}
