.scholarship-list {
    display: grid;
    justify-content: space-between;
}

.scholarship-list .scholarship-list__button,
.scholarship-list .scholarship-list__item {
    margin-bottom: 2rem;
}

@media screen and (min-width: 620px) {
    .scholarship-list {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .scholarship-list .scholarship-list__item {
        min-height: 40rem;
    }
}

@media screen and (min-width: 960px) {
    .scholarship-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .scholarship-list {
        grid-template-columns: repeat(4, 27.5rem);
    }
}
