.scholarship-list__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 4rem;
    padding-left: 4rem;
}

.scholarship-list__button > svg {
    font-size: 6rem;
    color: var(--blue-primary);
}

.scholarship-list__button > h3 {
    font-size: var(--large-text-size);
    margin-top: 2rem;
}

.scholarship-list__button > p {
    font-size: var(--text-button-size);
    text-align: center;
}
